.about-atelier {
  background-color: @color-secondary;

  > .content {
    &:extend(.centered-content);
    text-align: center;

    > .title {
      .hgroup(@color-text, @color-text);
    }
    > .text {
      max-width: 500px;
      margin: 0 auto;

      .for-tablet-landscape-up({
        max-width: 750px;
      });

      > p {
        margin-top: 1rem;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
