.our-contacts {
  background-color: @color-secondary;

  > .content {
    &:extend(.centered-content);
    text-align: center;

    > .title {
      .hgroup;
    }
    > .contacts {
      &:after {
        content: "";
        display: table;
        clear: both;
      }

      > .blocks {
        display: block;
        margin-top: 1rem;

        .for-tablet-landscape-up({
          width: 33.33%;
          margin-top: 0;
          float: left;
          text-align: left;
        });

        &:first-child {
          margin-top: 0;
        }
        > .title {
          display: block;
          font-weight: bold;
          margin-bottom: .5rem;
          padding-left: 1.5rem;
          position: relative;

          &.clock {
            .icon(@icon-clock, 1);
          }
          &.map {
            .icon(@icon-map, 1);
          }
          &.phone {
            .icon(@icon-phone-ringing, 1);
          }
          &::before {
            &:extend(.alignY);
            left: 0;
          }
        }
      }
    }
  }
}
