.prices-services {
  > .content {
    &:extend(.centered-content);
    text-align: center;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
    > .title {
      .hgroup(@color-text, @color-text);
    }
    > .list {
      .box-sizing;
      background-color: @color-text;
      color: #fff;
      padding: 1rem;
      margin-top: 1rem;

      .for-tablet-portrait-up({
        width: calc(~"50% - 2rem");
        float: left;
        margin: 1rem;
        margin-top: 0;
      });
      .for-tablet-landscape-up({
        width: calc(~"33% - 2rem");
      });

      &:first-child {
        margin-top: 0;
      }
      > .item {
        margin-top: 2rem;

        &:first-child {
          margin-top: 0;
        }
        > .title {
          text-transform: uppercase;
          border-bottom: 2px dotted @color-primary;
          padding-bottom: .5rem;
          position: relative;
          font-size: @font-size-medium;

          &::before,
          &::after {
            content: "";
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: @color-primary;
            position: absolute;
            bottom: -3px;
          }
          &::before {
            left: 0;
          }
          &::after {
            right: 0;
          }
        }
        > .gender,
        > .price {
          display: block;
        }
        > .gender {
          font-size: @font-size-tiny;
          opacity: .4;
          margin-top: .5rem;
          margin-bottom: .5rem;
        }
        > .price {
          font-size: @font-size-medium;
        }
      }
    }
  }
}
